/*New*/
.image {
    width: 200px;
    height: 250px;
}
.games-info {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    font-family: fantasy;
}
.games-container {
    width: 200px;
}
.games-container .name {
    font-size: 20px;
}    

.games-container .price {
    color: darkred;
    font-family: fantasy;
}
.add{ 
    border: none;
    background-color: #4681f4;
    color: white;
    border-radius: 10%;
    font-size: 18px;
}
.decrement{
    background-color: #f55252;
    border: none;
    border-radius: 10px;
}
.increament {
    border: none;
    background-color: #1bbd1b;
    border-radius: 10px;
}
.remove {
    background-color: tomato;
    color: white;
    font-family: revert;
    border: none;
    border-radius: 10px;
}
.buttons {
    text-align: center;
}
.quantity {
    font-family: cursive;
}

